{% extends "base.html.twig" %}


{% block body %}

<br><br><br><br><br><br>











<div class="text-center">
    <img class="img-fluid" src="{{ asset('build/images/troc.jpg') }}" alt="Responsive image" rel="troc" data-toggle="popover" data-trigger="hover" />
</div>




{% endblock %}
