{% extends "base.html.twig" %}


{% block body %}
    {% for label, messages in app.flashes %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<br><br><br><br><br><br>











<div class="text-center">
    <img class="img-fluid" src="{{ asset('build/images/troc.jpg') }}" alt="Responsive image" rel="troc" data-toggle="popover" title="Informations" data-trigger="hover" />
</div>




{% endblock %}
